@model PicturesAPI.CATEGORy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CATEGORy</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageUrl)
    </div>
    <div class="display-field">
      <img src= "/Content/Images/@Model.ImageUrl" alt="Image" style="width:60px"/>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
